@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
  font-family: 'Roboto';
}

header {
  position: sticky;
  top: 0;
  left:0;
  background-color: #fff;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header_box {
  display: flex;
  justify-content: space-between;
  margin-top: 31px;
  margin-bottom: 40px;
}

.header_box-minu {
  display: flex;
  gap: 35px;
  align-items: center;
}

.nav_list {
  display: flex;
  gap: 40px;
}

.nav_item {
  display: inline-block;
}


.nav_item-link {
  font-family: 'roboto';
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #736D67;
}

.home {
  font-weight: 500;
}

.button {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  background: #DC780B;
  border-radius: 5px;
  border:none;
  padding: 13px 30px 14px;
  border:1px solid #DC780B;
  cursor: pointer;
}

.button:hover {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #DC780B;
  background: #fff;
  border-radius: 5px;
  border:1px solid #DC780B;
  padding: 13px 30px 14px;
}

.making_div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.making_minu-theme {
  width: 555px;
  font-family: 'Philosopher';
  font-style: normal;
  font-weight: 700;
  font-size: 48.83px;
  line-height: 58px;
  color: #150C01;
  margin-top: 122px;
}

.making_minu-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #150C01;
  margin-top: 42px;
}

.making_minu-buttons {
  display: flex;
  gap: 30px;
  margin-top: 50px;
  margin-bottom: 200px;
}

.plan_box {
  display: flex;
  align-items: center;
  margin-top: 250px;
}

.plan_box>img {
  border-radius: 50px;
}

.plane_minu {
  margin-left: auto;
}

.plane_link {
  text-decoration: none;
  display: inline-block;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #DC780B; 
}

.plane_theme {
  font-family: 'Philosopher';
  font-style: normal;
  font-weight: 700;
  font-size: 31.25px;
  line-height: 41px;
  color: #150C01;
  width: 487px;
  margin-top: 10px;
}

.plane_text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #150C01;
  margin-top: 30px;
  width: 487px;
  margin-bottom: 40px;
}

.treary_box {
  text-align: center;
}

.treary_link {
  text-decoration: none;
  display: inline-block;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #DC780B; 
  margin-top: 200px;
}

.treary_theme {
  font-family: 'Philosopher';
  font-style: normal;
  font-weight: 700;
  font-size: 31.25px;
  line-height: 24px;
  color: #150C01;
  margin-top: 9px;
}

.treary_texts {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #150C01;
  margin-top: 25px;
  width: 748px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 200px;
}


.triary_minu-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.triary_minu-item {
  width: 360px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-top-left-radius: 80px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 20px ;
  border-bottom-right-radius: 20px;
}

.triaty_padding {
  padding: 25px;
}

.price {
  display: flex;  
  justify-content: space-between;
}

.triary_minu-picture {
  border-top-left-radius: 80px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 80px;
}

.price {
  margin-top: 10px;
}

.triary-themes {
  font-family: 'Philosopher';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 24px;
  color: #150C01;
}



.number {
  text-decoration: none;
  font-family: 'Philosopher';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 24px;
  color: #150C01;
}


.triary_text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #150C01;
  margin-top: 20px;
  margin-bottom: 20px;
}


.triary-img-buttom {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.inner-list {
  display: flex;
}

.learn-more {
  margin-top: 61px;
  margin-bottom: 28px;
}

.contact {
  background-color: #FBF1E7;
}

.contact_box {
  text-align: center;
  padding: 115px;
  position: relative;
}

.contact_link {
  text-decoration: none;
  display: inline-block;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #DC780B; 
}

.contact_theme {
  font-family: 'Philosopher';
  font-style: normal;
  font-weight: 700;
  font-size: 31.25px;
  line-height: 41px;
  color: #150C01;
  margin-top: 15px; 
  width: 749px;
  margin-left: auto;
  margin-right: auto;
}

.input {
  outline: none;
  border: none;
  padding: 32px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  width: 680px;
  margin-top: 46px;
  border-radius: 5px;
}

.button-position {
  padding: 30px 57px;
  position: absolute;
  right: 213px;
  top: 282px;
}

.button-position:hover {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #DC780B;
  background: #fff;
  border-radius: 5px;
  border:1px solid #DC780B;
  padding: 30px 57px;
}

footer {
  background: #252525;
}

.footer_box {
  display: flex;
  justify-content: space-evenly;
  padding: 100px;
}

strong {
  font-family: 'Philosopher';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

.footer_item {
  margin-top: 20px;
}


.footer_link {
  text-decoration: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
}



